<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div>
        <form method="post" action="add">
            <input type="text" name="title" placeholder="Type the title">
            <input type="text" name="author" placeholder="Type the author">
            <input type="text" name="dateOfPublication" placeholder="Type the date of publication">
            <input type="text" name="publishingHouse" placeholder="Type the publishing house">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Add</button>
        </form>
    </div>
    <div>List of Books</div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button tpye="submit">Find</button>
    </form>
    {{#books}}
        <div>
            <b>{{title}}</b>
            <span>{{author}}</span>
            <span>{{dateOfPublication}}</span>
            <span>{{publishingHouse}}</span>

        </div>
    {{/books}}
</body>
</html>